{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }} – Summary
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Where do you want to travel?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['whereDoYouWantToTravel']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/space-destination">Change<span class="govuk-visually-hidden"> space destination you want to travel</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is your name?
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['fullName']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/name">Change<span class="govuk-visually-hidden">your full name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is your address?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['addressLine1'] }} <br>
            
            {% if data['addressLine2'] %}
              {{ data['addressLine2'] }} <br>
            {% endif %}

            {{ data['addressTown'] }} <br>

            {% if data['addressCounty'] %}
              {{ data['addressCounty'] }} <br>
            {% endif %}

            {{ data['addressPostcode'] }}

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/address">Change<span class="govuk-visually-hidden"> your address</span></a>
          </dd>
        </div>
      </dl>


      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Complete"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
