{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }}
{% endblock %}

<!-- Blank header with no service name for the start page -->  
{% set serviceName %}

{% endset%}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Space Travel Service
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to choose your space destination</li>
        <li>update your name, address or other details</li>
        <li>view summary</li>
      </ul>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>

      {{ govukButton({
        text: "Start now",
        href: "/space-destination",
        isStartButton: true
      }) }}

    </div>

  </div>

{% endblock %}
